.splide__slide img { /*Para ajustar imagenes de galerias 480px alto*/
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.splide:not(.carousel-encabezado) { /*Para que galerias no crezcan en exceso (menos la banner principal)*/
    max-width: 960px;
    margin: 0 auto;    /* centrado horizontal */
    width: 100%;       /* que pueda adaptarse en móviles */
}

#depto-carousel .splide__slide img{ /*Para dejar transparente banner principal*/
    opacity: 75%;
}

.carousel-encabezado .splide__slide img{ /*Para dejar mas altos los banner*/
    height: 768px;
}

.splide__pagination {
    right: 10px;
    bottom: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* Botones individuales */
.splide__pagination__page {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd; /* color de dots inactivos */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estado activo */
.splide__pagination__page.is-active {
    background-color: #ffcc00; /* color de dot activo */
}

.splide__pagination__page {
    display: none;
}

.controles-personalizados-carousel{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    font-size: 40px;
    color: white;
    /* background-color: rgba(0,0,0,0.5);
    border-radius: 30px; */
}

.boton-flecha-carousel {
  background: none;
  border: none;
  color: white;
  font-size: 40px;   /* Tamaño grande del ícono/texto */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer;
  line-height: 1;
}

.boton-flecha-carousel:hover {
  color: #ffcc00;
  transform: scale(1.1);
  transition: 0.2s ease;
  opacity: 0.7;
}

/* Al abrir el zoom: forzar proporciones reales */
.medium-zoom-image--opened {
    object-fit: contain !important;
}

.photo-description-container {
    background: rgba(229, 232, 239, 0.7);
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    padding: 10px;
    margin-top: -4rem;
    margin-left: 2rem;
    position: relative;
}

.photo-description-text {
    font-family: "Antapani Regular";
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.45px;
    text-transform: uppercase;    
}

@media screen and (max-width: 768px){
    .controles-personalizados-carousel {
        display: none;
    }

    .splide__slide img {
        width: 100%;
        height: 480px;
        object-fit: cover;
    }

    .splide__pagination__page {
        display: block;
        width: 10px;
        height: 10px;
    }    
}