.contacto{
    height: auto;
    background-color: var(--azul-claro);
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding:5rem 0;
}

.contact-section-frame{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

.contact-section-info{
    max-width: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.contact-section-info p{
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    font-weight: 400;
}

.contact-section-info h1{
    font-family: "Gunterz-regular";
    font-size: clamp(32px, 5vh, 40px);
    font-weight: 400;
}

.contact-section-form{
    max-width: 547px;
    height: 296px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px 44px 124px 36px;
    gap: 16px;
    
}
.contact-section-form input{
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    padding: 8px 12px;
    height: 44px;
    border: none;
}

.btn-contact-send{
    text-decoration: none;
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    height: 36px;
    width: 79px;
    background-color: var(--black);
    color: var(--white);
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contact-send:hover{
    background-color: var(--azul-claro);
    border: 1px solid black;
    color: var(--black);
}


@media screen and (max-width:768px) {
    .contacto{
        justify-content: center;
        align-content: center;
    }

    .contact-section-frame{
        width: 100%;
        justify-content: center;
        align-content: center;
        gap:2rem;
    }

    .contact-section-info{
        max-width: 330px;
    }

    .contact-section-form {
        width: 100%; /* Asegura que el formulario ocupe el ancho completo */
        max-width: 330px; /* Limita el ancho máximo */
        display: flex;
        flex-direction: column; /* Apila los inputs verticalmente */
        gap: 16px; /* Espaciado entre los inputs */
    }

    .contact-section-info h1{
        font-size: 32px;
        width: 285px;
    }

}