.departmentos{
    padding: 5rem 0 2rem 0;
    text-transform: uppercase;
}

.departamentos-titulo{
    max-width:100%;
    font-family: "Gunterz-regular";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid var(--gris-transparente);
}

.departmentos-subtitulo{
    width: 100%;
    text-align: left;
}

.departmentos-subtitulo p{
    text-align: left;
    font-family: "Azeret mono", monospace;
    font-size: 16px;
    font-weight: 500px;
    margin:40px 0;
}

.departamentos-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.department-card{
    max-width: 380px;
    height: 597px;
    overflow: hidden;
    font-size: 14px;
}

.department-card-picture{
    width: 380px;
    height: 366px;
    overflow: hidden;
}

.department-card-picture img{
    position:relative;
    width: 100%;
    height:366px;
    object-fit: cover;
}

.department-card-one{
    grid-area: department-card-one;
}

.department-card-two{
    grid-area: department-card-two;
}

.department-card-three{
    grid-area: department-card-three;
}

.department-card-info-title{
    font-family: "Azeret mono", monospace;
}

.department-card-info-name{
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
}


.departamentos-boton{
    width: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding-bottom: 2px;
    cursor: pointer;
    
}

.departamentos-boton a{
    text-decoration: none;
    color: var(--black);
}

@media screen and (max-width:748px){
    .departamentos-cards{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:640px){
    .departamentos-titulo{
        max-width: 100%;
        padding:0;
        text-align: center;
        font-size: 28px;
        margin: 0;
        padding-bottom: 2rem;
    }
    
}