.navbar {
    --hamburger:none;
    --close:none;
    width: 100%;
    max-height: 64px;
    padding:1rem 0;
    background-color: rgba(252, 252, 252, 1);
}



.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

.nav__logo {
    font-size: 24px;
    font-family: "Gunterz-regular";
    font-weight: 900;
    text-decoration: none;
    color: var(--black);
}

.nav__logo__main{
    font-size: 24px;
    font-family: "Gunterz-regular";
    font-weight: 900;
    text-decoration: none;
    color: var(--black);
    display: none;
}

.nav__logo__negro {
    font-size: 24px;
    font-family: "Gunterz-regular";
    font-weight: 900;
    text-decoration: none;
    color: var(--white);
}

.nav__logo__negro__main {
    font-size: 24px;
    font-family: "Gunterz-regular";
    font-weight: 900;
    text-decoration: none;
    color: var(--white);
    display: none;
}

.icons {
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

.nav__list{
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.nav__list__blanco{
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.nav__link {
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.45;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: var(--black);
}

.nav__link__negro {
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.45;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: var(--white);
}

.nav__link::after {
    content: ""; /* Crea el pseudo-elemento */
    position: absolute;
    bottom: -4px; /* Ajusta la distancia entre la línea y el texto (puedes cambiar el valor) */
    left: 0;
    width: 0; /* Comienza con un ancho de 0 */
    height: 2px; /* Grosor de la línea */
    background-color: var(--black); /* Color de la línea */
    transition: width 0.3s ease-in-out; /* Animación suave */
}

.nav__link:hover::after {
    width: 100%; /* Expande la línea al 100% del ancho del enlace */
}

.nav__link__negro::after {
    content: ""; /* Crea el pseudo-elemento */
    position: absolute;
    bottom: -4px; /* Ajusta la distancia entre la línea y el texto (puedes cambiar el valor) */
    left: 0;
    width: 0; /* Comienza con un ancho de 0 */
    height: 2px; /* Grosor de la línea */
    background-color: var(--white); /* Color de la línea */
    transition: width 0.3s ease-in-out; /* Animación suave */
}

.nav__link__negro:hover::after {
    width: 100%; /* Expande la línea al 100% del ancho del enlace */
}

.nav__link__contacto{
    font-weight: 600;
}

.nav__list__sociales{
    display: none;
}


.nav__hamburger{
    display: var(--hamburger);
}

.nav__close{
    display: var(--close);
}

.menu__blanco{
    color: white;
}

.fondo__negro{
    background-color: #1E1E1E;
}



@media screen and (max-width: 1024px) {
    .navbar{
        --close:none;
        --hamburger:block;
        --transform:translateX(-100%);
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-areas: "logo active";
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .navbar:target{
        --close:block;
        --hamburger:none;
        --transform:translateX(0);
    }

    .nav__close,
    .nav__hamburger{
        grid-area: active;
        place-self: center;
        cursor: pointer;
        z-index: 1;
    }

    .navbar__container{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 7rem 0;
        margin: 0;
        background-color:rgba(252, 252, 252, 1);
        width: 100%;
        min-height: 700px;
        transform: var(--transform);
        transition: transform .4s;
        z-index: 1;
    }

    .navbar__container__negro{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 7rem 0;
        margin: 0;
        background-color:#1E1E1E;
        width: 100%;
        min-height: 700px;
        transform: var(--transform);
        transition: transform .4s;
        z-index: 1;
    }

    .nav__links{
        height: 100vh;
        width: 100%;
        padding:0 0 0 2rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


    }

    .nav__hamburger{
        display: var(--hamburger);
    }

    .nav__close{
        display: var(--close);
    }

    .nav__logo__main{
        display: block;
    }

    .nav__logo__negro__main{
        display: block;
    }

    .nav__logo{
        display: none;
    }

    .nav__logo__negro{
        display: none;
    }

    .nav__sections{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .nav__list{
        width: 100%;
        margin: 0 0 2rem 0;
        padding:0 0 1rem 0;
        border-bottom: 2px solid black;
    }

    .nav__list__blanco{
        width: 100%;
        margin: 0 0 2rem 0;
        padding:0 0 1rem 0;
        border-bottom: 2px solid white;
    }

    .nav__list__contacto{
        border: none;
    }

    .nav__list__sociales{
        padding-top: 5rem;
        display: flex;
        border: none;
        justify-content: flex-start;
        align-items: center;

        p{
            font-family:"Gunterz-regular";
            font-weight: 800;
            font-size: 16px;
            color: rgba(195, 195, 195, 1);
            margin-right: .5rem;
        }
    }

    .nav__link{
        font-size: 24px;
        font-family: "Gunterz-regular";
        font-weight: 700;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    .nav__link__negro{
        font-size: 24px;
        font-family: "Gunterz-regular";
        font-weight: 700;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    .nav__link::after {
        transition: none; /* Desactiva la animación de la línea */
        width: 0; /* Asegura que la línea no aparezca */
    }

    .nav__link__negro::after {
        transition: none; /* Desactiva la animación de la línea */
        width: 0; /* Asegura que la línea no aparezca */
    }

    .nav__link:hover::after {
        width: 0; /* Evita que la línea se expanda al hacer hover */
    }

    .nav__link__negro:hover::after {
        width: 0; /* Evita que la línea se expanda al hacer hover */
    }
}

