:root{
    --black: #1E1E1E;
    --white:#FCFCFC;
    --gris:#ADADAD;
    --gris-bold:#6F6F6F;
    --gris-transparente:rgba(51, 51, 51, 0.2);
    --azul:rgb(69, 196, 180, .3);
    --jade:#155558;
    --azul-claro:#E5E8EF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    max-width: 1440px;
    margin: auto;
    color:var(--black);
}

@font-face {
    font-family: "Gunterz-regular";
    src: url("../../fonts/Gunterz-2/Gunterz-Regular.otf");
}


.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.texto-blanco{
    color: var(--white)
}

.fondo-negro{
    background-color: var(--black);
}
/*------navbar------*/

/*------navbar-plantas------*/

.color-blanco{
    color: var(--white);
}

.color-negro{
    color: var(--black)
}

.fondo-negro{
    background-color: var(--black);
}


.carrusel{
    max-height: 727px;
    max-width: 1341px;
    min-height: 472px;
    margin: 0px 51px;
    overflow: hidden;
}

.carrusel-off{
    max-height: 727px;
    max-width: 1341px;
    min-height: 472px;
    margin: 0px 51px;
    overflow: hidden;
}



.carrusel ul{
    display: flex;
    width: 400%;
    animation: slide 15s infinite normal cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

.carrusel-off ul{
    display: flex;
    width: 100%;
}


.carrusel-off img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

/*--------Encabezado---------*/


/*-----Caracteristicas-home-----*/



.details-floor{
    height: 985px;
    background-color: var(--black);
    color:white;
    padding: 0px 144px 104px;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
















/*-----Caracteristicas-home-----*/


/*-----Caracteristicas-pisos-----*/

.caracteristicas-pisos{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-pagination{
    display: none;
}
 
.caracteristicas-pisos-texto-uno{
    margin-top: 10px;
    font-family: "Azeret mono", "monospace";
    font-size: 16px;
    font-weight: 600;
    max-width: 300px;
}


.caracteristicas-pisos-texto-dos{
    margin:50px 0;
    font-family: "Gunterz-regular";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding:0 120px;
    max-width: 900px;

}

.container__slider__pisos{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__frame__pisos{
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider__pisos{
    display: flex;
    width: 300%;
    height: 800px;
    margin-left: -100%;
}

.slider__section__pisos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    gap: 2rem;
}

.slider__img__pisos{
    max-width: 643px;
    height: 600px;
    object-fit: cover;
}

.slider__btn__pisos{
    position: absolute;
    top:50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;

}

.slider__btn__left__pisos{
    left: 10px;
}

.slider__btn__right__pisos{
    right: 10px;
}

.pisos-frame{
    max-width: 1330px;
    height: 625px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pisos-slider{
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.pisos-slider-slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pisos-slider-imagen{
    max-width: 643px;
    height: 619px;
    border: 20px solid #E5E8EFB2;
    border-radius: 10px;
    margin-right: 60px;
}


.pisos-slider-imagen img{
    height: 100%;
}

.pisos-slider-informacion{
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-section-floor-two-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.detail-section-floor-two-detail{
    margin-bottom: 40px;
}

.detail-section-floor-two-description{
    max-width: 450px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.details-proyect picture{
    margin-top: -500px;
    width: 1341px;
}

.detail-section-floor-two-superficie{
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 20px 0px;
}


.total{
    font-weight: 600;
}

.detail-section-floor-two-nota{
    max-width: 403px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.btn-cotizar{
    width: 198px;
    height: 45px;
    padding: 15px;
    border-radius: 6px;
    background-color: #E5E8EFB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cotizar a{
    text-decoration: none;
    color: var(--black);
}


.icon-box{
    align-self: flex-start;
}

.details-section-two{
    min-width: 272px;
    height: 132px;
    margin-left: 80px;
}

.details-section-two p{
    font-family: "Azeret mono", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    text-transform: uppercase;
}

.btn-antes{
    margin-right: 40px;
    cursor: pointer;
}

.btn-siguiente{
    margin-left: 40px;
    cursor: pointer;
}

/*----Equipamiento---*/



.equipamiento-informacion-frame{
    max-width: 385px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.equipment-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.equipment-section-group-title{
    font-family: "Gunterz-regular";
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}


.btn-equipment{
    margin-top: 50px;
    max-width: 198px;
    height: 45px;
    padding: 15px;
    border-radius: 6px;
    background-color: #E5E8EFB2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-equipment a{
    text-decoration: none;
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    color: var(--black);
}


.equipamiento-slider-wrapper img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}



.slider picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}


.slider-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    position: absolute;
    height: 26px;
    left: 40px;
    top: 500px;
    cursor:pointer;
}

.slider-btn-left{
    width: 24px;
}

.slider-btn-right{
    width: 24px;
    transform: rotate(-180deg);
}

.slider-btn-right:hover .slider-slide{
    transform: translateX(-200%);
}

/*----Equipamiento---*/


/*equipamiento-pisos*/

.equipamiento-plantas{
    max-width: 1440px;
    height: 753px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.equipamiento-plantas-frame{
    width: 1228px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.equipamiento-plantas-informacion{
    max-width: 385px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider__container__floor{
    max-width: 763px;
    overflow: hidden;
    position: relative;
}

.slider__floor{
    display: flex;
    width: 600%;
    height: 560px;
    margin-left: -100%;
}

.slider__section__floor{
    width: 100%;
}

.slider__img__floor{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.equipamiento-plantas-slider-frame{
    position: relative;
    max-width: 763px;
    height: 560px;
}

.equipamiento-plantas-slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.equipamiento-plantas-slider-wrapper{
    width: 100%;
    height: 100%;
}

.equipamiento-plantas-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.equipamiento-slider-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    position: absolute;
    height: 26px;
    left: 40px;
    bottom: 50px;
    cursor:pointer;
}


/*equipamiento-pisos*/

/*-----beneficios-----*/


.select label{
    text-transform: uppercase;
}




/*----beneficios----*/

/*----Espacios---*/
.espacios{
    position: relative;
    max-width: 1440px;
    height: 1106px;
    background-color: #A5C4B44D;
    color:var(--jade);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.espacios-title{
    font-family: "Gunterz-regular";
    font-size: 40px;
    font-weight: 400;
    width: 700px;
    text-align: center;
}

.espacios-slider{
    padding:0 30px;
    width: 100%;
    height: 727px;
    overflow: hidden;
}

.espacios-slider-wrapper{
    width: 100%;
}

.espacios-slider-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.espacios-slider-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    position: absolute;
    height: 26px;
    right: 100px;
    bottom: 150px;
    cursor:pointer;
}


.container__slider__espacios{
    width: 90%;
    overflow: hidden;
    position: relative;
}

.slider__espacios{
    display: flex;
    width: 300%;
    height: 560px;
    margin-left: -100%;
}

.slider__section__espacios{
    width: 100%;
}

.slider__img__espacios{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----Ubicaciones---*/

.ubicaciones{
    height: 920px;
    padding: 88px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--black);
}

.ubicaciones-titulo{
    font-family: "Gunterz-regular";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    width: 950px;
    height: 112px;
    grid-area: location-title;
    margin: 0px auto 70px auto;

}

.ubicaciones-bloques{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.container__slider__ubicacion{
    max-width: 662px;
    overflow: hidden;
    position: relative;
}

.slider__ubicacion{
    display: flex;
    width: 800%;
    height: 574px;
    margin-left: -100%;
}

.slider__section__ubicacion{
    width: 100%;
}

.slider__img__ubicacion{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.location-info-frame{
    width: 513px;
    display: flex;
    flex-direction: column;
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.location-info-text, .location-info-list{
    max-width: 512.83px;
}

.location-info-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}


.location-info-list-item-text-two{
    width: 137px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid var(--gris-bold);
    border-radius: 10px;
    padding: 4px;
    color:var(--gris-bold)
}

.location-info-list-item-text-two-chico{
    width: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid var(--gris-bold);
    border-radius: 10px;
    padding: 4px;
    color:var(--gris-bold)
}


.location-info-list-item-text-two-mediano{
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid var(--gris-bold);
    border-radius: 10px;
    padding: 4px;
    color:var(--gris-bold)
}


/*-----Slider de la imagen responsive----*/

.slider-buttons{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.slider-pagination{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #C4C4C4;
    transition: 1s;
}

.slider-pagination:hover{
    width: 20px;
    height: 20px;
    background-color: var(--black);
}


.ubicaciones-slider-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    position: absolute;
    height: 26px;
    left: 550px;
    top: 500px;
    cursor:pointer;
}

/*-----Slider de la imagen responsive----*/

.footer-info-phones a{
    text-decoration: none;
    color:var(--white)
}



/*----Ubicaciones---*/

.department-section{
    margin:0px auto;
    padding: 35px 95px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "department-title department-title department-title"
    "department-info department-info department-info" 
    "department-card-one department-card-two department-card-three"
    ;
    text-transform: uppercase;
}

.department-title{
    font-family: "Gunterz-regular";
    font-size: 32px;
    font-weight: 400;
    grid-area: department-title;
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid var(--gris-transparente);
}

.department-title p{
    width: 831px;
    margin: auto;
}

.department-info{
    grid-area: department-info;
    text-align: left;
    font-family: "Azeret mono", monospace;
    font-size: 16px;
    font-weight: 500px;
    margin:40px 0;
}

.department-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.department-card{
    width: 380px;
    height: 597px;
    overflow: hidden;
    font-size: 14px;
}

.department-card-picture{
    width: 380px;
    height: 366px;
    overflow: hidden;
}

.department-card-picture img{
    position:relative;
    width: 100%;
    height:366px;
    object-fit: cover;
}

.department-card-one{
    grid-area: department-card-one;
}

.department-card-two{
    grid-area: department-card-two;
}

.department-card-three{
    grid-area: department-card-three;
}

.department-card-info-title{
    font-family: "Azeret mono", monospace;
}

.department-card-info-name{
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
}


.departamentos-boton{
    width: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding-bottom: 2px;
    cursor: pointer;
    
}

.departamentos-boton a{
    text-decoration: none;
    color: var(--black);
}



.contact-section{
    height: 590px;
    background-color: var(--azul-claro);
    padding: 112px;
    margin: 50px auto 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.contact-section-frame{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-section-info{
    width: 596px;
    height: 304px;
}

.contact-section-info p{
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    font-weight: 400;
}

.contact-section-info h1{
    font-family: "Gunterz-regular";
    font-size: 40px;
    font-weight: 400;
}

.contact-section-form{
    width: 547px;
    height: 296px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px 44px 124px 36px;
    gap: 16px;
    
}
.contact-section-form input{
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    padding: 8px 12px;
    height: 44px;
    border: none;
}

.input-email{
    grid-column: 1/3;
}

.input-message{
    grid-column: 1/3;
    padding: 8px 12px;
    border: none;
}

.btn-contact-send{
    text-decoration: none;
    font-family: "Azeret mono", monospace;
    font-size: 12px;
    height: 36px;
    width: 79px;
    background-color: var(--black);
    color: var(--white);
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.section-schedules{
    height: 713px;
    width: 1350px;
    padding: 48px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Azeret mono", monospace;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

.section-schedules picture{
    margin-top: 60px;
    width: 1248px;
    height: 515px;
    overflow: hidden;
}

.section-schedules iframe{
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}

.gris{
    filter: grayscale(100%);
}

footer{
    height: 510px;
    background-color: var(--black);
    padding: 56px 81px 0px 81px;
    font-family: "Artizan mono", monospace;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-contain{
    max-width: 1277px;
    height: 404px;
    color: var(--white);
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 177px 176px;
}

.footer-info{
    width: 1204px;
    display: flex;
    justify-content: space-between;
}

.footer-info-menu{
    margin-top: 40px;
}

.footer-info-contact{
    width: 35%;
}

.btn-proyect-k{
    width: 289px;
    height: 43px;
    border-radius: 6px;
    background-color: #E5E8EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    margin:30px 0px;
    cursor: pointer;
}

.btn-proyect-k a{
    text-decoration: none;
    color:var(--black);
}

.footer-email{
    text-decoration: underline;
    color: var(--white);
}

.footer-info-phones{
    display: flex;
    justify-content: space-between;
}

.footer-info-menu{
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.2;
}

.footer-logo{
    width: 1204px;
    font-family: "Gunterz-regular";
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    grid-row: 2/3;
}

.footer-info-menu-list-two a{
    text-decoration: none;
    color:var(--white)
}

.footer-info-menu a{
    text-decoration: none;
    color:var(--white)
}


.swal2-title {
    font-family: "Azeret mono", monospace;
    text-transform: uppercase;

}

.swal2-html-container{
    font-family: "Azeret mono", monospace;
    text-transform: uppercase;
  }

@media only screen and (max-width:915px){

    .encabezado{
        height: 1200px;
    }

    .encabezado-titulo{
        font-size: 3rem;
    }

    .equipamiento{
        height: 1000px;
    }

    .equipamiento-frame{
        display: flex;
        justify-content: center;
    }
}



    #check{
        display: none;
    }

    .icons{
        display: inline-flex;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked ~.icons #menu-icon{
        display: none;
    }

    #check:checked ~.icons #close-icon{
        display: block;
    }

    
    #check:checked ~.nav-list{
        height: 20rem;
    }

    #check:checked ~.nav-list-negro{
        height: 20rem;
    }

    .encabezado{
        height: 1100px;
        justify-content: flex-end;
        background-color: white;
    }


    .encabezado-frame{
        width: 288px;
        margin: 50px auto;
    }

    .encabezado-titulo{
        font-size: 32px;
    }

    .encabezado-btn-dos{
        width: 288px;
        margin:0 auto;
    }

    .carrusel{
        width: 100%;
    }

    .carrusel img{
        height: 472px;
    }

    .carrusel-off{
        width: 100%;
    }

    .carrusel-off img{
        height: 472px;
    }


    .caracteristicas-texto-uno{
        width: 287px;
    }

    .caracteristicas-texto-dos{
        width: 287px;
        font-size: 24px;
        padding: 0;
    }

    .caracteristicas-bloque{
        width: 287px;
    }

    .caracteristicas-botones{
        width: 100%;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .caracteristicas-botones a{
        font-size: 14px;
    }


    .ubicaciones{
        height: 1500px;
        padding: 60px 0 40px 0;
        align-items: center;
    }

    .ubicaciones-titulo{
        width: 318px;
        height: 180px;
        font-size: 32px;
        margin: 30px 0;
    }

    .ubicaciones-bloques{
        align-items: center;
        justify-content: center;
    }


    .ubicaciones-slider-navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        position: absolute;
        height: 26px;
        left: 250px;
        top: 500px;
        cursor:pointer;
    }

    .location-info-frame{
        margin-top: 35px;
        width: 276px;
    }

    .location-info-text{
        margin-bottom: 30px;
    }

    .location-info-list-item-text{
        width: 131px;
    }

    .department-section{
        grid-template-areas: 
    "department-title"
    "department-info" 
    "department-card-one"
    "department-card-two"
    "department-card-three"
    ;
    align-items: center;
    height: 2100px;
    }

    .department-title{
        font-size: 24px;
        width: 272px;
    }

    .department-title p{
        width: 272px;
    }

    .department-info{
        width: 272px;
    }

    .department-card{
        width: 100%;
    }

    .contact-section{
        height: 900px;
        padding: 50px 0;
    }


    .contact-section-frame{
        width: 288px;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }

    .contact-section-info{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-section-info p{
        font-size: 12px;
    }

    .contact-section-info h1{
        font-size: 32px;
    }

    .contact-section-form{
        width: 100%;
        grid-template-columns: repeat(2, 136px) ;
        grid-template-rows: 44px 44px 124px 36px;
        gap: 16px;
    }

    .section-schedules{
        width: 100%;
    }

    .section-schedules p{
        width: 278px;
    }

    .section-schedules picture{
        width: 375px;
    }

    footer{
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-contain{
        margin: 50px 0;
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info{
        width: 288px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .footer-info-contact{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer-info-phones{
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info-menu{
        width: 288px;
    }
    

    .footer-logo{
        width: 348px;
    }

    .footer-logo h1{
        font-size: 32px;
        text-align: center;
    }


    .encabezado-plantas-boton-dos{
        width: 288px;
        height: 80px;
        margin:0 auto;
    }

    .slider-spacios-wrapper{
        width: 100%;
        height: 1200px;
        justify-content: center;
        align-items: center;
    }

    .btn-antes{
        margin:0;
    }

    .btn-siguiente{
        margin: 0;
    }

    .previusBotonFrame{
        display: none;
    }

    .nextBotonFrame{
        display: none;
    }

    .slider-pagination{
        display: inline-block;
    }

    .caracteristicas-pisos{
        height: 1400px;
        justify-content: center;
    }

    .caracteristicas-pisos-texto-uno{
        font-size: 16px;
    }

    .caracteristicas-pisos-texto-dos{
        width: 320px;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .pisos-frame{
        height: 800px;
        position:relative;
    }

    .pisos-slider{
        position: relative;
        width:100%;
        overflow: hidden;
        height: 100%;
        flex-direction: row;
    }

    .pisos-slider-slide{
        position: relative;
        overflow: hidden;
        width: 325px;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .pisos-slider-imagen{
        width: 100%;
        height: 294px;
        margin:0;
    }

    .pisos-slider-imagen img{
        width: 100%;
    }

    .caracteristicas-pisos-bloque-dos{
        margin-top: 40px;
        width: 375px;
    }

    

    .btn-cotizar{
        width: 100%;
    }

    .btn-equipment{
        margin-top: 20px;
    }


   
    .equipamiento-plantas-slider-frame{
        height: 333px;
        width: 375px;
    }

 

    .espacios{
        margin-top: 0;
        height: 650px;
        padding:2rem 0;
    }

    .espacios-title{
        font-family: "Gunterz-regular";
        font-size: 24px;
        font-weight: 400;
        width: 288px;
        margin-bottom: 2rem;
        text-align: center;
    }

    .container__slider__pisos{
        width: 100%;
        position: relative;
    }
    
    .slider__frame__pisos{
        max-width: 90%;
        overflow: hidden;
    }
    
    .slider__pisos{
        display: flex;
        width: 300%;
        height: 1150px;
        margin-left: -100%;
    }
    
    .slider__section__pisos{
        width: 100%;
        display: grid;
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 600px, 800px;
        justify-content: center;
        align-content: center;
    }
    
    .slider__img__pisos{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .container__slider__espacios{
        width: 100%;
    }




