:root{
    --black: #1E1E1E;
    --white:#FFFFFF;
}

@font-face {
    font-family: "Gunterz-bold";
    src: url("../../fonts/gunterz/Fontspring-DEMO-gunterz-bold.otf");
}


@font-face {
    font-family: "Gunterz-regular";
    src: url("../../fonts/gunterz/Fontspring-DEMO-gunterz-regular.otf");
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    max-width: 1400px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.75px 0px;
    height:64px;
    padding:0 48px;
}

.logo-title{
font-size: 24px;
font-family: Gunterz-bold;
font-weight: 700;
color:#1E1E1E;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    color: var(--black);
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.45;
    font-size: 14px;
    font-weight: 300;
}

.contacto a{
    text-decoration: none;
    color: var(--black);
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.48;
    font-size: 14px;
    font-weight: 600;
}

header{
    width: 1248px;
    margin: 192.46px 97px 568px 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-title{
    font-family: Gunterz-regular;
    height: 219.92px;
    text-align: left;
    font-size: 52px;
}

article section p{
    width: 200px;
}

.header-btns{
    width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-text-one{
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    width: 225px;
}

.header-btn{
    background-color: var(--black);
    padding: 17px;
    width: 374.6px;
}

.header-text-two{
    width: 281px;
    color: var(--white);
    text-decoration: none;
    font-family: "Azeret Mono", "monospace";
    font-weight: 600;
}

.details-proyect{
    background-color: var(--black);
    color:white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.details-text-one{
    margin-top: 72px;
    display: inline-block;
    text-align: center;
    font-family: "Azeret mono", "monospace";
    font-size: 16px;
    font-weight: 400;
    width: 311px;
}

.details-text-two{
    margin-top: 72px;
    font-family: "Gunterz-regular";
    font-size: 40px;
    font-weight: 400px;
    text-align: center;
    padding:0 120px;

}

.details-proyect picture{
    margin-top: -500px;
    width: 1341px;
}
.details-proyect picture img{
    width: 100%;
    margin:0px auto;
}