:root{
    --black: #1E1E1E;
    --white:#FFFFFF;
}

@font-face {
    font-family: "Gunterz-bold";
    src: url("../../fonts/gunterz/Fontspring-DEMO-gunterz-bold.otf");
}


@font-face {
    font-family: "Gunterz-regular";
    src: url("../../fonts/gunterz/Fontspring-DEMO-gunterz-regular.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    max-width: 1400px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.75px 0px;
    height:64px;
    padding:0 48px;
}

.logo-title{
font-size: 24px;
font-family: Gunterz-bold;
font-weight: 700;
color:#1E1E1E;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    color: var(--black);
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.45;
    font-size: 14px;
    font-weight: 300;
}

.contacto a{
    text-decoration: none;
    color: var(--black);
    font-family: "Azeret Mono", monospace;
    letter-spacing: 0.48;
    font-size: 14px;
    font-weight: 600;
}

header{
    width: 1248px;
    margin: 192.46px 97px 568px 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-title{
    font-family: Gunterz-regular;
    height: 219.92px;
    text-align: left;
    font-size: 52px;
}

article section p{
    width: 200px;
}

.header-btns{
    width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-text-one{
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    width: 225px;
}

.header-btn{
    background-color: var(--black);
    padding: 17px;
    width: 374.6px;
}

.header-text-two{
    width: 281px;
    color: var(--white);
    text-decoration: none;
    font-family: "Azeret Mono", "monospace";
    font-weight: 600;
}

.details-proyect{
    background-color: var(--black);
    color:white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.details-text-one{
    margin-top: 72px;
    display: inline-block;
    text-align: center;
    font-family: "Azeret mono", "monospace";
    font-size: 16px;
    font-weight: 400;
    width: 311px;
}

.details-text-two{
    margin-top: 72px;
    font-family: "Gunterz-regular";
    font-size: 40px;
    font-weight: 400px;
    text-align: center;
    padding:0 120px;

}

.details-proyect picture{
    margin-top: -500px;
    width: 1341px;
}
.details-proyect picture img{
    width: 100%;
    margin:0px auto;
}

.detail-section-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:72px;
}


.details-boxes{
 display: grid;
 row-gap: 32px;
 column-gap: 32px;
 grid-template-columns: repeat(2, 1fr);
 width: 800px;
 height: 271px;
}

.details-box{
    width: 352px;
    padding: 33px 25px;
    border: 1px solid var(--white);
    border-radius: 20px;
}

.details-box a{
    font-family: "Azeret mono", "monospace";
    font-size: 16px;
    font-weight: 300;
    color:var(--white);
    text-transform: uppercase;
    text-decoration: none;
    width: 271px;
    height: 66px;
}

.details-section-two{
    min-width: 272px;
    height: 132px;
}

.details-section-two p{
    font-family: "Azeret mono", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    text-transform: uppercase;
}

.equipmet-section{
    max-width: 1440px;
    height: 753px;
}

.equipment-section-frame{
    display: grid;
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    width: 1228px;
    margin: 96.5px auto 0 auto;
}

.equipmet-section-group{
    width: 385px;
    margin:224px 0px 0px 0px
}

.equipment-section-pictures{
    width: 763px;
    
}

.equipment-section-pictures img{
    width: 763px;
    overflow: hidden; 
}

.equipment-section-group-title{
    font-family: "Gunterz-regular";
    font-size: 32px;
    font-weight: 400;
}

.equipment-section-group-list{
    margin:4px 0px;
}

.equipment-section-group-list label{
    font-family: "Azeret mono", monospace;
}
